@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET 6 Demo Web App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This web app is only used for illustrative purposes, like demonstrating how to host a .NET 6 app on various cloud technologies</p>
</div>
